.copy-primary {
  display: flex;
  justify-content: center;

  width: fit-content;
  padding: .5rem .5rem;

  background-color: #14142B;
  color: var(--primary-font-color);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: .75rem;
}